@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@model IEnumerable<OnlineStore.WebUI.Models.Product>

@{
}

<div class="container content">
    <div class="row">
        <div class="col-md-4">
            <div class="list-group">
                <a href="#" class="list-group-item">Футболки</a>
                <a href="#" class="list-group-item">Джинсы</a>
                <a href="#" class="list-group-item">Брюки</a>
                <a href="#" class="list-group-item">Платья</a>
                <a href="#" class="list-group-item">Куртки</a>
            </div>
        </div>
        <div>
            <div class="row row-cols-1 row-cols-md-4 g-4">
                @foreach (var item in Model)
                {

                    <div class="col">
                        <div class="card h-100">
                            <img src="..." class="card-img-top" alt="...">
                            <div class="card-body">
                                <h5 class="card-title">@Html.DisplayFor(model=>item.Title)</h5>
                                <p class="card-text">@Html.DisplayFor(model => item.Description)</p>
                            </div>
                        </div>
                    </div>
                }
            </div>
        </div>
    </div>
</div>
