<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Онлайн буфет</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" />
</head>
<body>
    <header>
        <nav class="navbar navbar-expand-lg navbar-light bg-light">
            <a class="navbar-brand" asp-area="" asp-controller="Home" asp-action="Index" >Онлайн буфет</a>
            

            <div class="collapse navbar-collapse" id="navbarTogglerDemo02">
                <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
                    
                    <li class="nav-item active ">
                        <a class="nav-link disabled" asp-area="" asp-controller="Catalog" asp-action="Index" >Каталог</a>
                    </li>
                    <li class="nav-item active">
                        <a class="nav-link disabled" tabindex="-1" aria-disabled="true" asp-area="" asp-controller="" asp-action="">Личный кабинет<span class="sr-only">(current)</span></a>
                    </li>
                </ul>
                <form class="form-inline my-2 my-lg-0">
                    <input class="form-control mr-sm-2" type="search" placeholder="Поиск">
                    <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Найти</button>
                    <a class="p-2" asp-area="" asp-controller="Basket" asp-action="Index"> <img src="C:/Users/vampi/OneDrive/Рабочий стол/OnlineStore/OnlineStore/Views/Content/basket_icon-icons.com_67985.png" > </a>
                    </form>
            </div>
        </nav>
    </header>
    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <footer class="border-top footer text-muted">
        <div class="container">
            &copy; 2021 - Буфет онлайн - <a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
        </div>
    </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>     
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @RenderSection("Scripts", required: false)
</body>
</html>
